/* 3D Globes */



.col-globe{
  margin-bottom: 30px;
}

.globe-container{

  margin-top: 40px;
  margin-bottom: 60px;




  p{
    margin-bottom: 0;
;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      margin-top: -30px
    }

  }

  .num-1, .num-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: $primary-color;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      font-size: 70px;
    }

  }


  h1{
    line-height: 1;
    margin-bottom: 0;
    margin-top: 15px;
  }


  h1.small{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: $primary-color;
    position: relative;
    top: -6px;
    margin-left: 5px;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      top: -7px;
    }

  }

}


.globe-od{
  width: 100%;
  position: relative;
  @include border-radius(50%);
  overflow: hidden;
  padding-top: 100%;
  //border: 1px solid rgba(black, 0.2);
  //background-color: $chart-background;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {  }



  video{
    width: 100%;
    position: absolute;
    top: 5px;
    left: 0;
    border-radius: 50%;
  }


  #video-only-drylands{

    opacity: 0;
    @include animate(0.5s);

  }




}

.globe-shadow {
  background-image: url(img/shadow.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 65px;
  position: absolute;
  left: 0;
  pointer-events: none;
  opacity: 0.1;
  bottom: 40px;


  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {  }



}



// colors
$blue: $primary-color;
$bg-light: #f2f2f2;
$bg-med: #eee;

.checkbox.switcher{
  position: relative;
  width: 210px;
  margin-top: 30px;
  left: calc(50% - 105px);
  cursor: pointer;
  padding: 10px;
  @include border-radius(5px);
  background-color: white;
  @include shadow;
}

#drySwitch{

  .switch-container{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 56px;
    height: 28px;
    background: $bg-light;
    border: 1px solid $bg-med;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }

  .switcher{
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    left: 0;
  }

  &.check-it{

    .switch-container{
      background: $blue;
      border-color: $blue;
    }

    .switcher{
      left: 50%;
    }



  }

}