/* Boxes */

.story-box{
  background-color: #f8f8f8;
  padding: 15px;
  border: 1px solid $hr;
  position: relative;

  h3{
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
  }

  h6{
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    //border: 1px solid;
    display: inline-block;
    text-transform: uppercase;
    color: $text-secondary;
  }

  p{
    font-weight: 700;
  };


  a.centered-box-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .caret{
    margin-top: 0;
    transform: rotate(-90deg);
  }

}