/* Hectare Animation */

.hectare-animation-container{
  position: relative;
  margin: 60px 0;
}

.hectare-video{

  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center top;
  position: relative;
  z-index: 1;

}

#g-hectare-002-box{
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

//ai2html
#g-hectare-002-box ,
#g-hectare-002-box .g-artboard {
  margin:0 auto;
}
#g-hectare-002-box p {
  margin:0;
}
#g-hectare-002-box .g-aiAbs {
  position:absolute;
}
#g-hectare-002-box .g-aiImg {
  position:absolute;
  top:0;
  display:block;
  width:100% !important;
}
#g-hectare-002-box .g-aiSymbol {
  position: absolute;
  box-sizing: border-box;
}
#g-hectare-002-box .g-aiPointText p { white-space: nowrap; }
#g-hectare-002-Artboard_1 {
  position:relative;
  overflow:hidden;
}
#g-hectare-002-Artboard_1 p {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  bottom: -30px;


  line-height:20px;
  height:auto;
  filter:alpha(opacity=100);
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  letter-spacing:0em;
  //font-size:17px;
  text-align:left;
  color:rgb(64,161,72);
  padding-bottom:0;
  padding-top:0;
  mix-blend-mode:normal;
  font-style:normal;
  position:static;
}
#g-hectare-002-Artboard_1 .g-pstyle0 {
  height:20px;
  color:rgb(0,0,0);
}
#g-hectare-002-Artboard_1 .g-pstyle1 {
  height:20px;
}