/* Photos */

.photo-container{
  margin-top: 60px;
  height: 450px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;



  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    height: 550px;
  }

  //// Super Extra large devices (large desktops, 1500px and up)
  @media (min-width: 1500px) {
    height: 650px;
  }


}



.dr-container-photo{


  margin: 0 auto;

  width: 100%;



  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    width: 625px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    width: 808px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 812px;
  }


}