/* Preload CSS */

body.loading{

  overflow: hidden;

  .navbar, #story-container{
    opacity: 0;
  }

  .pre-loader{
    opacity: 1;
  }

}

body{

  overflow: auto;

  .navbar, #story-container{
    opacity: 1;
  }

  .pre-loader{
    opacity: 0;
  }

}


.preload-logo{

}

.preload-logo{
  background-image: url("img/preload-en.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 218px;
  height: 60px;
  position: absolute;
  left: calc(50% - 109px);
  top: calc(50% - 30px);
}


.pre-loader{

  position: fixed;
  z-index: 1031; //More than bootstrap navbar
  width: 100%;
  height: 100%;
  background-color: white;
  pointer-events: none;
  opacity: 0;
  //@include animate();
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translateZ(0);

  &:after {
    content: '';
    display: block;
    top:calc(50% - 34px);
    left: calc(50% - 113px);

    width: 68px;
    height: 68px;

    position: absolute;
    border: 3px solid transparent;
    border-top-color: rgba($primary-color, 1);
    @include border-radius(50%);

    -webkit-animation: loading 1s ease infinite;
    -moz-animation: loading 1s ease infinite;
    -ms-animation: loading 1s ease infinite;
    -o-animation: loading 1s ease infinite;
    animation: loading 1s ease infinite;


    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;


  }




  &:before {
    content: '';
    display: block;
    top:calc(50% - 34px);
    left: calc(50% - 113px);
    
    @include border-radius(50%);
    border: 3px solid rgba(215, 215, 215, .25);

    width: 68px;
    height: 68px;

    position: absolute;

  }


  //img{
  //  height: 38px;
  //  position: absolute;
  //  left: 50%;
  //  top: calc(50% - 100px);
  //
  //
  //  /* Small devices (tablets, 768px and up) */
  //  @media (min-width: 768px) {
  //    height: 45px;
  //  }
  //
  //
  //}



}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-ms-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}