/* Social Share buttons */


.social-share {
  position: absolute;
  bottom: 30px;
  right: 30px;
  pointer-events: auto;
  z-index: 1;

  span.facebook-icon {
    background-image: url("img/share-facebook-white.svg");
  }

  span.twitter-icon {
    background-image: url("img/share-twitter-white.svg");
  }

  span.google-icon {
    background-image: url("img/share-google-plus-white.svg");
  }

  span.linkedin-icon {
    background-image: url("img/share-linkedin-white.svg");
  }

  &.social-mobile{
    position: relative;
    bottom: auto;
    right: auto;
    justify-content: center;

  }

  &.social-cover{
    position: static;
    margin-top: 30px;

    span.facebook-icon {
      background-image: url("img/share-facebook-sec.svg");
    }

    span.twitter-icon {
      background-image: url("img/share-twitter-sec.svg");
    }

    span.google-icon {
      background-image: url("img/share-google-plus-sec.svg");
    }

    span.linkedin-icon {
      background-image: url("img/share-linkedin-sec.svg");
    }

  }



  span.facebook-icon-sec {
    background-image: url("img/share-facebook-sec.svg");
  }

  span.twitter-icon-sec {
    background-image: url("img/share-twitter-sec.svg");
  }

  span.google-icon-sec {
    background-image: url("img/share-google-plus-sec.svg");
  }

  span.linkedin-icon-sec {
    background-image: url("img/share-linkedin-sec.svg");
  }



}




.social-share a {
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px 5px;
}

.social-share span {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

}



a.social-button {
  text-decoration: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0px 5px;

  &:first-child{
    margin-left: 0;
  }

  &:last-child{
    margin-right: 0;
  }

  span {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;


  }

}