/* Trees */


.tree-anim-1-container{
  width: 100%;

  height: 122px;
  //background-image: url("img/reference.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 -90px;
  position: relative;

  .tree-anim-1{
    position: absolute !important;
    bottom: -4px;
    transform: translate3d(-50%, 0, 0);

    /////

    &:nth-child(1){
      left: 4%;
      transform: translate3d(-50%, 0, 0) scale(0.8);
      bottom: -12px;

    }

    &:nth-child(2){
      left: 9%;
      transform: translate3d(-50%, 0, 0) scale(0.9);
      bottom: -8px;

    }

    &:nth-child(3){
      left: 13%;
    }

    &:nth-child(4){
      left: 17%;
    }

    &:nth-child(5){
      left: 23%;
    }

    &:nth-child(6){
      left: 26%;
    }

    &:nth-child(7){
      left: 29%;
      transform:translate3d(-50%, 0, 0) scale(0.7);
      bottom: -18px;
    }

    &:nth-child(8){
      left: 34%;
      transform:translate3d(-50%, 0, 0) scale(0.9);
      bottom: -8px;
    }

    &:nth-child(9){
      left: 38%;
      transform:translate3d(-50%, 0, 0) scale(0.8);
      bottom: -12px;
    }

    &:nth-child(10){
      left: 43%;
      transform:translate3d(-50%, 0, 0) scale(0.8);
      bottom: -12px;
    }

    &:nth-child(11){
      left: 46%;
    }

    &:nth-child(12){
      left: 52%;
    }

    &:nth-child(13){
      left: 56%;
      transform:translate3d(-50%, 0, 0) scale(0.7);
      bottom: -18px;
    }

    &:nth-child(14){
      left: 59%;
      transform:translate3d(-50%, 0, 0) scale(0.8);
      bottom: -12px;
    }

    &:nth-child(15){
      left: 63%;
    }

    &:nth-child(16){
      left: 66%;
    }

    &:nth-child(17){
      left: 70%;
    }

    &:nth-child(18){
      left: 75%;
      transform:translate3d(-50%, 0, 0) scale(0.8);
      bottom: -12px;
    }

    &:nth-child(19){
      left: 80%;
      transform:translate3d(-50%, 0, 0) scale(0.7);
      bottom: -18px;
    }

    &:nth-child(20){
      left: 84%;
    }

    &:nth-child(21){
      left: 90%;
    }

    &:nth-child(22){
      left: 96%;
      transform:translate3d(-50%, 0, 0) scale(0.8);
      bottom: -12px;

    }

    /////////



  }

}




.percentage-container{
  width: 100%;
  height: 50px;
  border: 1px solid $text-light;
  position: relative;
  background-color: rgba(white, 0.7);
  backdrop-filter: blur(3px);

  .percentage-value{
    background-color: $primary-color;
    position: absolute;
    border: 2px solid white;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    @include animate(2s);


    &.step-1{
      width: 20%;
    }

    &.step-2{
      width: 32%;
    }

    &.step-3{
      width: 41%;
    }

    &.step-4{
      width: 49%;
    }

    &.step-5{
      width: 54%;
    }

    &.step-6{
      width: 100%;
    }


  }

  .line-1, .line-2, .line-3, .line-4, .line-5{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    z-index: 1;
    background-color: white;
    opacity: 0;

    @include animateMe(opacity, 0.3s, 2s);


    &.on{
      opacity: 1;
    }

  }

  .line-1{
    left: 20%;
  }

  .line-2{
    left: 32%;
  }

  .line-3{
    left: 41%;
  }

  .line-4{
    left: 49%;
  }

  .line-5{
    left: 54%;
  }

  .rest-of-color{
    position: absolute;
    background-color: rgba(white, 0.7);
    width: 46%;
    height: 100%;
    left: 54%;
    opacity: 0;

    &.on{
      opacity: 1;
    }

  }

}


.tree-anim-1-mask{
  position: absolute;
  top: calc(50% + 36px);
  height: calc(50% - 36px);

  width: 100%;

  background-color: rgba(white, 0.7);
}

.tree-anim-1-label-container{
  position: absolute;
  top: calc(50% + 86px);
  left: 15px;
  height: calc(50% - 86px);
  width: calc(100% - 30px);
  overflow: hidden;
  pointer-events: none;
  opacity: 0;

  // At least
  @media (min-width: 375px) {
    opacity: 1;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    width: 100%;
    left: 0;
  }

  .item-label{
    position: absolute;
    transform: translate3d(-50%, -100%, 0);
    width: 20%;
    max-width: 75px;
    @include animateMe(all,1s,0.5s);

    &.in{
      transform: translate3d(-50%, 0, 0);
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      max-width: 90px;
    }


    &:before{
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      background-color: $text;
    }

    .label{
      text-align: center;
      background-color: white;
      position: absolute;
      width: 100%;

      bottom: 0;
      padding: 5px 0;

      h4,p{
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 600;
        color: $text;
        text-transform: uppercase;
        margin-bottom: 0;
      }

      p{
        display: none;
        color: $text-secondary;

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
          display: block;
        }

      }

    }





    &:nth-child(1){
      left: 10%;
      height: 70px;
      z-index: 6;
    }

    &:nth-child(2){
      left: 26%;
      height: 90px;
      z-index: 5;
    }

    &:nth-child(3){
      left: 36%;
      height: 112px;
      z-index: 4;
    }

    &:nth-child(4){
      left: 45%;
      height: 70px;
      z-index: 3;

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) {
        height: 160px;
      }

    }

    &:nth-child(5){
      left: 52%;
      height: 32px;
      z-index: 2;

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) {
        height: 195px;
      }


    }

    &:nth-child(6){
      left: 77%;
      height: 70px;
      z-index: 1;
    }

  }

}