/* Video Cover */

/////

$video-height: 100vh;





/////


.video-wrapper {
  //position: absolute;
  top: 0;
  height: $video-height;
  width: 100%;
  overflow: hidden;
  //z-index: 1;
  //display: none;
}

.video-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+86&0.1+0,1+86 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 86%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 86%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#000000', GradientType=0); /* IE6-9 */

  opacity: 0;

  &.light {
    background: #5B5B5B;
    opacity: 0.4;
  }

  &.dark {
    background: black;
    opacity: 0.2;
  }

}


.video-wrapper .report-video, .video-wrapper canvas.topper.video {
  height: $video-height;
  width: 100%;
}


.video-wrapper video, .video-wrapper canvas {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}


@media (min-width: 768px) {

  .video-wrapper {
    display: block;
  }

  .video-wrapper .report-video, .video-wrapper canvas.topper.video {
    width: 100%;
  }


}

.report-meta {
  hr {

    border-top: 1px solid white;
    max-width: 200px;
    margin-top: 45px;
    margin-bottom: 45px;

  }
}

.report-based {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 400;
  margin-bottom: 25px;
}


.report-meta {
  display: flex;
  opacity: 0;


  img {
    width: 172px;
    height: 126px;

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      width: 322px;
      height: 236px;
    }

    position: relative;
    top: 5px;
    margin-right: 20px;
    margin-left: 20px;


    background-color: $primary-color;
    padding: 15px;

  }

  flex-direction: column;

  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {

  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    flex-direction: row;

  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

  }


}

.report-heading {
  color: white;
  font-weight: lighter;
  padding-left: 20px;

  font-size: 21px;


  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    width: 560px;
    font-size: 35px;
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    border-left: 1px solid white;
    width: 560px;
    font-size: 35px;
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    width: 560px;
    font-size: 35px;
  }

}

.report-sub {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.8;
  //font-weight: 300;
}

.topic-circle {
  margin-top: 30px;
  display: inline-block;
  width: 40px;
  height: 40px;
  @include border-radius(50%);
  background-color: $primary-color;
}


.fixed-stripes {
  width: 150px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: calc(50% - 75px);
  z-index: 2;

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    top: 60px;
    right: 30px;
  }


  a {
    display: block;

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;

    }

  }


}

.rep-title{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: 2;

  @include transfor-me(translate(-50%, -50%));
  padding: 15px;
  text-align: center;

  h1, h2{
    color: white;
  }

  h1{
    margin-top: 20px;
    font-size: 30px;
  }


  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {

    h1{
      font-size: 40px;
    }

  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    h1{
      font-size: 45px;
    }

  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {

    h1{
      font-size: 55px;
    }

  }



  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 70%;
    padding: 50px;


    h1{
      font-size: 65px;
      line-height: 1.1;
    }


  }

  //// Super Extra large devices (large desktops, 1500px and up)
  @media (min-width: 1500px) {  }


}