/* Digital Report */
/* Follow up variables */
/* 3D Globes */
.col-globe {
  margin-bottom: 30px;
}

.globe-container {
  margin-top: 40px;
  margin-bottom: 60px;
}
.globe-container p {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .globe-container p {
    margin-top: -30px;
  }
}
.globe-container .num-1, .globe-container .num-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #40a148;
}
@media (min-width: 768px) {
  .globe-container .num-1, .globe-container .num-2 {
    font-size: 70px;
  }
}
.globe-container h1 {
  line-height: 1;
  margin-bottom: 0;
  margin-top: 15px;
}
.globe-container h1.small {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #40a148;
  position: relative;
  top: -6px;
  margin-left: 5px;
}
@media (min-width: 768px) {
  .globe-container h1.small {
    top: -7px;
  }
}

.globe-od {
  width: 100%;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  padding-top: 100%;
}
.globe-od video {
  width: 100%;
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 50%;
}
.globe-od #video-only-drylands {
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.globe-shadow {
  background-image: url(img/shadow.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 65px;
  position: absolute;
  left: 0;
  pointer-events: none;
  opacity: 0.1;
  bottom: 40px;
}
.checkbox.switcher {
  position: relative;
  width: 210px;
  margin-top: 30px;
  left: calc(50% - 105px);
  cursor: pointer;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.09);
}

#drySwitch .switch-container {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 56px;
  height: 28px;
  background: #f2f2f2;
  border: 1px solid #eee;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
#drySwitch .switcher {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  left: 0;
}
#drySwitch.check-it .switch-container {
  background: #40a148;
  border-color: #40a148;
}
#drySwitch.check-it .switcher {
  left: 50%;
}

/* Blockquotes */
blockquote {
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
  display: block;
  float: left;
  width: 100%;
  margin: 10px 55px 35px 0;
  padding: 19px 0 0 0;
  line-height: 1.7;
  border-left: 0;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
blockquote.right {
  margin: 10px 0 35px 55px;
  float: right;
}
blockquote.right span {
  text-align: left;
}
blockquote.center {
  margin: 20px 0 60px 0;
  float: none;
}
blockquote.center h3 {
  font-style: normal;
  margin-bottom: 30px;
  font-size: 20px;
}
blockquote.center p {
  font-weight: 300;
}
blockquote.center h6 {
  font-size: 12px;
}
blockquote.center .story-links {
  color: #c9c9c9;
}
@media (min-width: 992px) {
  blockquote.center {
    margin: 20px 0 60px 0;
    width: 100%;
  }
}
blockquote span {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: 15px;
}
@media (min-width: 992px) {
  blockquote {
    margin: 10px 48px 20px -15%;
    width: 329px;
  }
  blockquote.right {
    margin: 10px -15% 20px 48px;
  }
  blockquote.story-block {
    width: 50%;
  }
}

/* Boxes */
.story-box {
  background-color: #f8f8f8;
  padding: 15px;
  border: 1px solid #e7e7e7;
  position: relative;
}
.story-box h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}
.story-box h6 {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #999999;
}
.story-box p {
  font-weight: 700;
}
.story-box a.centered-box-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 10px;
}
.story-box .caret {
  margin-top: 0;
  transform: rotate(-90deg);
}

/* Buttons */
.btn {
  font-size: 16px;
  padding: 10px 12px 9px 12px;
}
.btn:hover, .btn:active, .btn:focus, .btn:active:hover, .btn:active:focus, .btn:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  box-shadow: none;
}

.btn-sm {
  padding: 2px 7px 2px 7px;
  font-size: 12px;
}

.btn-primary {
  background-color: transparent;
  border-color: #40a148;
}
.btn-primary:hover {
  background-color: #58bc60;
  border-color: #40a148;
}

.btn-secondary {
  background-color: #999999;
  border-color: transparent;
  font-weight: 600;
}

.btn-dark {
  background-color: transparent;
  border-color: white;
  color: white;
  font-weight: 600;
}
.btn-dark:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: white;
}

/* Charts */
.chart-container {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 60px 15px;
  background-color: #f7f7f7;
}
.chart-container .chart-title {
  text-align: center;
}
.chart-container .chart-title h2 {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}
.chart-container .chart-title h6 {
  color: white;
}
.chart-container h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 800;
  color: white;
}
.chart-container h6 a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 800;
  color: white;
}
.chart-container h6 a i {
  margin-right: 5px;
}
.chart-container h6 a:hover {
  text-decoration: none;
}

.highcharts-tooltip > span {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.1);
  padding: 15px;
}
.highcharts-tooltip > span span {
  font-size: 14px !important;
}
.highcharts-tooltip > span span:first-child {
  font-size: 18px !important;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 300;
}

.chart-internal-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highcharts-legend-item {
  overflow: visible !important;
}
.highcharts-legend-item span {
  font-size: 12px !important;
  color: white !important;
  font-weight: normal !important;
}
.highcharts-legend-item > span {
  overflow: visible !important;
}
.highcharts-legend-item:first-child .undefined {
  background-color: #ff6600;
}
.highcharts-legend-item:last-child .undefined {
  background-color: #4c5d6a;
}

.y-label {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 800;
  font-size: 11px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 5px;
}

p.note {
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
}
p.note.note-white {
  color: #999999;
}

.stacked-label-shift .highcharts-stack-labels text {
  transform: translate(15px, 0);
}

.other-divider {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #6f6f6f;
}

#annual-forest-area .highcharts-tooltip > span, #annual-rate .highcharts-tooltip > span {
  display: flex;
  flex-direction: column-reverse;
}
#annual-forest-area .highcharts-tooltip > span .tooltip-point-item-title, #annual-rate .highcharts-tooltip > span .tooltip-point-item-title {
  order: 1;
}

.tooltip-point-item {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.tooltip-point-item .tooltip-point-item-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 300;
}
.tooltip-point-item b {
  margin-left: 3px;
}

.tooltip-point-color {
  display: inline-block;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin: 0 5px 0 0 !important;
}

/* Cover */
.cover {
  position: relative;
  height: 100%;
}

html {
  height: 100%;
}

body {
  background-color: #0c2a4c;
  width: 100%;
  height: 100%;
}
body.padding-top {
  padding-top: 75px;
}

.dr-container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
@media (min-width: 768px) {
  .dr-container {
    width: 540px;
  }
}
@media (min-width: 992px) {
  .dr-container {
    width: 540px;
  }
}
@media (min-width: 1200px) {
  .dr-container {
    width: 648px;
  }
}

.dr-container-chart {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .dr-container-chart {
    width: 625px;
  }
}
@media (min-width: 992px) {
  .dr-container-chart {
    width: 808px;
  }
}
@media (min-width: 1200px) {
  .dr-container-chart {
    width: 812px;
  }
}

.dr-container-chart-half {
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .dr-container-chart-half {
    width: 404px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .dr-container-chart-half {
    width: 406px;
  }
}

.audio-container {
  margin: 30px 0;
}

.website-showcase-container {
  margin: 60px 0;
}

.embargoed-div {
  background-color: red;
  color: white;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 32px;
  top: 53px;
  font-size: 20px;
  font-weight: bold;
  padding: 0 15px;
  opacity: 0;
}
@media (min-width: 768px) {
  .embargoed-div {
    top: 63px;
  }
}

.linkDwnPdf {
  font-size: 12px;
  font-weight: 800;
  display: block;
  position: relative;
  text-align: center;
}
.linkDwnPdf b {
  display: inline-block;
  position: relative;
  padding-left: 25px;
}
.linkDwnPdf i {
  font-size: 20px;
  position: absolute;
  left: 0px;
  opacity: 0.5;
  top: -1px;
}

.title-logo {
  margin: 20px 0 0 0;
}
.title-logo .title-logo-block-container {
  display: inline-block;
}
.title-logo .title-logo-block-container h2 {
  margin-top: 15px;
}
.title-logo img {
  width: 260px;
  height: auto;
}
@media (min-width: 768px) {
  .title-logo img {
    width: 320px;
  }
}
@media (min-width: 992px) {
  .title-logo img {
    width: 350px;
  }
}

.legend-text {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #999999;
  margin: 0;
  line-height: 1.1;
}

.state-of-logo {
  position: absolute;
  width: 80px;
  top: 30px;
  right: calc(50% - 40px);
  z-index: 3;
}
@media (min-width: 576px) {
  .state-of-logo {
    width: 100px;
    top: 50px;
    right: 30px;
  }
}
.state-of-logo img {
  width: 100%;
  height: auto;
}

.fixed-download {
  margin-top: 30px;
  margin-bottom: 30px;
}
.fixed-download img {
  position: relative;
  left: -30px;
}
.fixed-download a {
  color: black;
}
.fixed-download i {
  position: relative;
  top: 7px;
  margin-right: 5px;
}
.fixed-download h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 800;
}

#bioModal .modal-title {
  color: #40a148;
}
#bioModal button.close:hover, #bioModal button.close:active, #bioModal button.close:focus, #bioModal button.close:active:hover, #bioModal button.close:active:focus, #bioModal button.close:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  box-shadow: none;
}

/* Footer */
footer {
  margin-top: 250px !important;
  padding-bottom: 100px;
}
footer .section-title {
  color: #999999;
  font-size: 14px;
  margin: 10px 0 20px 0;
  text-transform: uppercase;
  font-weight: 600;
}

.footer-icon-list {
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}
.footer-icon-list a {
  color: #b1bac3;
}
.footer-icon-list a:hover {
  color: #b1bac3;
}
.footer-icon-list a i.material-icons {
  font-size: 40px;
}

.footer-links li {
  margin: 15px 0;
}

.social-column {
  /* Small devices (tablets, 768px and up) */
}
.social-column img {
  max-width: 200px;
}
.social-column .fa, .social-column .fab {
  font-size: 23px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #b1bac3;
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 992px) {
  .social-column .fa, .social-column .fab {
    width: 22%;
  }
}
@media (min-width: 1200px) {
  .social-column .fa, .social-column .fab {
    width: 18%;
  }
}
.social-column .store-box {
  width: 140px;
  height: 41px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  display: inline-block;
}
.social-column .store-box.apple {
  background-image: url(img/app-store.svg);
}
.social-column .store-box.google {
  background-image: url(img/google-play.svg);
}

/* Hectare Animation */
.hectare-animation-container {
  position: relative;
  margin: 60px 0;
}

.hectare-video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center top;
  position: relative;
  z-index: 1;
}

#g-hectare-002-box {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

#g-hectare-002-box,
#g-hectare-002-box .g-artboard {
  margin: 0 auto;
}

#g-hectare-002-box p {
  margin: 0;
}

#g-hectare-002-box .g-aiAbs {
  position: absolute;
}

#g-hectare-002-box .g-aiImg {
  position: absolute;
  top: 0;
  display: block;
  width: 100% !important;
}

#g-hectare-002-box .g-aiSymbol {
  position: absolute;
  box-sizing: border-box;
}

#g-hectare-002-box .g-aiPointText p {
  white-space: nowrap;
}

#g-hectare-002-Artboard_1 {
  position: relative;
  overflow: hidden;
}

#g-hectare-002-Artboard_1 p {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  bottom: -30px;
  line-height: 20px;
  height: auto;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  letter-spacing: 0em;
  text-align: left;
  color: #40a148;
  padding-bottom: 0;
  padding-top: 0;
  mix-blend-mode: normal;
  font-style: normal;
  position: static;
}

#g-hectare-002-Artboard_1 .g-pstyle0 {
  height: 20px;
  color: black;
}

#g-hectare-002-Artboard_1 .g-pstyle1 {
  height: 20px;
}

/* Forest types */
.forest-types-container {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
@media (min-width: 992px) {
  .forest-types-container {
    flex-direction: row;
    margin: 60px -100px;
    align-items: flex-start;
  }
}

.forest-types-card {
  background-color: #f8f8f8;
  padding: 30px;
  margin: 30px 0;
  -webkit-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  .forest-types-card {
    margin: 30px 15px;
    width: calc(50% - 30px);
  }
}
.forest-types-card p {
  margin-bottom: 0;
}
.forest-types-card .forest-types-icon {
  background-color: white;
  height: 150px;
  margin: -30px -30px 30px -30px;
}
.forest-types-card .forest-types-icon .forest-types-video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center top;
}
.forest-types-card .forest-types-expand {
  margin-top: 15px;
  padding: 9px 15px;
  background-color: white !important;
  border-color: transparent !important;
  color: white !important;
  -webkit-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.forest-types-card .forest-types-expand:hover {
  -webkit-box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
}
.forest-types-card .forest-types-expand:active {
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.18);
}
.forest-types-card .forest-types-panel h4.subcategories-title {
  margin-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #a1a1a1;
  border-top: 1px solid #a1a1a1;
  padding-top: 10px;
  text-align: center;
}
.forest-types-card .forest-types-panel h3 {
  margin-top: 30px;
}
.forest-types-card .forest-types-panel p {
  font-size: 14px;
}

.legend .point {
  display: inline-block;
  width: 20px;
  height: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 0 5px;
  position: relative;
  top: -2px;
}
.legend li {
  margin: 5px;
}
.legend.legend-proportion-introduced {
  color: #999999;
}
.legend.legend-proportion-introduced .point {
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: 5px;
}
.legend.legend-proportion-introduced li:nth-child(1) .point {
  background-color: #99bb35;
}
.legend.legend-proportion-introduced li:nth-child(2) .point {
  background-color: #51997c;
}
.legend.legend-annual-forest-area {
  color: #999999;
}
.legend.legend-annual-forest-area .point {
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: 5px;
}
.legend.legend-annual-forest-area li:nth-child(1) .point {
  background-color: #0087a6;
}
.legend.legend-annual-forest-area li:nth-child(2) .point {
  background-color: #9ccb3a;
}
.legend.legend-annual-forest-area li:nth-child(3) .point {
  background-color: #00854a;
}
.legend.legend-annual-rate {
  color: #999999;
}
.legend.legend-annual-rate .point {
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: 5px;
}
.legend.legend-annual-rate li:nth-child(1) .point {
  background-color: #3aa08a;
}
.legend.legend-annual-rate li:nth-child(2) .point {
  background-color: #b1a7a5;
}
.legend.legend-annual-net {
  color: #999999;
}
.legend.legend-annual-net .point {
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: 5px;
}
.legend.legend-annual-net li:nth-child(1) .point {
  background-color: #36723D;
}
.legend.legend-annual-net li:nth-child(2) .point {
  background-color: #9fc436;
}
.legend.legend-forest-ownership {
  color: #999999;
}
.legend.legend-forest-ownership .point {
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: 5px;
}
.legend.legend-forest-ownership li:nth-child(1) .point {
  background-color: #6d8c6f;
}
.legend.legend-forest-ownership li:nth-child(2) .point {
  background-color: #98c22e;
}
.legend.legend-forest-ownership li:nth-child(3) .point {
  background-color: #c3d1dc;
}

/* Navbar */
.navbar {
  -webkit-box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.09);
  height: 54px;
}
@media (min-width: 768px) {
  .navbar {
    height: 63px;
  }
}

.navbar-brand {
  position: relative;
  top: 0;
  padding: 0;
}
.navbar-brand img {
  height: 38px;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .navbar-brand img {
    height: 45px;
  }
}

.language-switch .dropdown-menu {
  left: auto;
  right: 0;
}
.language-switch .dropdown-item {
  font-size: 12px;
}

/* Particles */
.particle-story-a-holder, .particle-story-b-holder {
  position: relative;
  margin: 60px 0;
}
.particle-story-a-holder .trigger, .particle-story-b-holder .trigger {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  position: relative;
  padding: 0 15px;
}
@media (min-width: 992px) {
  .particle-story-a-holder .trigger, .particle-story-b-holder .trigger {
    width: 50%;
  }
}
.particle-story-a-holder .trigger h6 a, .particle-story-b-holder .trigger h6 a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 12px;
  font-weight: 800;
  color: white;
}
@media (min-width: 992px) {
  .particle-story-a-holder .trigger h6 a, .particle-story-b-holder .trigger h6 a {
    justify-content: flex-start;
  }
}
.particle-story-a-holder .trigger h6 a i, .particle-story-b-holder .trigger h6 a i {
  margin-right: 5px;
}
.particle-story-a-holder .trigger h6 a:hover, .particle-story-b-holder .trigger h6 a:hover {
  text-decoration: none;
}
.particle-story-a-holder .trigger p, .particle-story-a-holder .trigger h1, .particle-story-a-holder .trigger h2, .particle-story-a-holder .trigger h3, .particle-story-b-holder .trigger p, .particle-story-b-holder .trigger h1, .particle-story-b-holder .trigger h2, .particle-story-b-holder .trigger h3 {
  font-family: "Montserrat", sans-serif;
}
.particle-story-a-holder .trigger h1, .particle-story-b-holder .trigger h1 {
  margin-bottom: 0;
}
.particle-story-a-holder .trigger h1, .particle-story-a-holder .trigger h2, .particle-story-a-holder .trigger h3, .particle-story-b-holder .trigger h1, .particle-story-b-holder .trigger h2, .particle-story-b-holder .trigger h3 {
  font-weight: 600;
}
.particle-story-a-holder .trigger h3, .particle-story-b-holder .trigger h3 {
  color: #a1a1a1;
}

#particle-container, #particle-container-b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  z-index: 2;
}
#particle-container .dragged-container, #particle-container-b .dragged-container {
  height: 100vh;
  width: 100%;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
@media (min-width: 768px) {
  #particle-container .dragged-container, #particle-container-b .dragged-container {
    width: 80%;
    max-width: 650px;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    padding: 0;
  }
}
@media (min-width: 992px) {
  #particle-container .dragged-container, #particle-container-b .dragged-container {
    max-width: 750px;
  }
}
@media (min-width: 1200px) {
  #particle-container .dragged-container, #particle-container-b .dragged-container {
    max-width: 850px;
  }
}
#particle-container.is-fixed, #particle-container-b.is-fixed {
  position: fixed;
}
#particle-container.is-bottom, #particle-container-b.is-bottom {
  top: auto;
  bottom: 0;
}
#particle-container.is-bottom canvas, #particle-container.is-bottom .dragged-container, #particle-container-b.is-bottom canvas, #particle-container-b.is-bottom .dragged-container {
  bottom: 0;
  position: absolute;
}
#particle-container canvas, #particle-container-b canvas {
  display: block;
  /* fix necessary to remove space at bottom of canvas */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#particle-container canvas:focus, #particle-container-b canvas:focus {
  outline: 0;
}

.cover-trigger {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.cover-trigger.in {
  opacity: 1;
}

.dr-container-chart-half img {
  width: 100%;
}

[data-name=step-0] .dr-container-chart-half {
  position: relative;
}

.p-numbers {
  font-size: 100px;
  margin-top: 0;
  line-height: 1;
  color: #40a148;
}

.p-messages {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 0 15px;
}
.p-messages p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

/* Photos */
.photo-container {
  margin-top: 60px;
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  .photo-container {
    height: 550px;
  }
}
@media (min-width: 1500px) {
  .photo-container {
    height: 650px;
  }
}

.dr-container-photo {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .dr-container-photo {
    width: 625px;
  }
}
@media (min-width: 992px) {
  .dr-container-photo {
    width: 808px;
  }
}
@media (min-width: 1200px) {
  .dr-container-photo {
    width: 812px;
  }
}

/* Preload CSS */
body.loading {
  overflow: hidden;
}
body.loading .navbar, body.loading #story-container {
  opacity: 0;
}
body.loading .pre-loader {
  opacity: 1;
}

body {
  overflow: auto;
}
body .navbar, body #story-container {
  opacity: 1;
}
body .pre-loader {
  opacity: 0;
}

.preload-logo {
  background-image: url("img/preload-en.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 218px;
  height: 60px;
  position: absolute;
  left: calc(50% - 109px);
  top: calc(50% - 30px);
}

.pre-loader {
  position: fixed;
  z-index: 1031;
  width: 100%;
  height: 100%;
  background-color: white;
  pointer-events: none;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translateZ(0);
}
.pre-loader:after {
  content: "";
  display: block;
  top: calc(50% - 34px);
  left: calc(50% - 113px);
  width: 68px;
  height: 68px;
  position: absolute;
  border: 3px solid transparent;
  border-top-color: #40a148;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: loading 1s ease infinite;
  -moz-animation: loading 1s ease infinite;
  -ms-animation: loading 1s ease infinite;
  -o-animation: loading 1s ease infinite;
  animation: loading 1s ease infinite;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.pre-loader:before {
  content: "";
  display: block;
  top: calc(50% - 34px);
  left: calc(50% - 113px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid rgba(215, 215, 215, 0.25);
  width: 68px;
  height: 68px;
  position: absolute;
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
/* Quiz Style */
.quiz-container, .quiz-container-last {
  background-color: #f8f8f8;
  padding: 30px;
  margin: 30px 0;
  -webkit-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .quiz-container, .quiz-container-last {
    margin: 60px -50px;
  }
}
.quiz-container h1, .quiz-container-last h1 {
  font-size: 26px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .quiz-container h1, .quiz-container-last h1 {
    font-size: 30px;
  }
}
.quiz-header, .quiz-footer {
  padding: 30px;
  background-color: #40a148;
}
.quiz-header h2, .quiz-header p, .quiz-footer h2, .quiz-footer p {
  color: white;
  margin: 0;
}
.quiz-header h2, .quiz-footer h2 {
  font-size: 20px;
  font-weight: 700;
}

.quiz-header {
  margin: -30px -30px 0 -30px;
  margin-bottom: 30px;
}

.quiz-footer {
  margin: -30px;
}
.quiz-footer .quiz-share {
  margin-top: 15px;
}

.quiz-question {
  overflow: hidden;
  margin-bottom: 30px;
}

.quiz-title {
  display: inline-block;
  background-color: rgba(27, 29, 31, 0.1);
  border-radius: 15px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.question {
  font-weight: 600;
}

.answers {
  margin-bottom: 15px;
}

.answers label {
  font-size: 17px;
  width: 100%;
  cursor: pointer;
  padding-left: 35px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 15px;
  font-weight: normal;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.answers label:last-child {
  margin-bottom: 0;
}
.answers label:before {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  background-color: rgba(27, 29, 31, 0.1);
  pointer-events: none;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: 1px;
}
.answers label:after {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  background-color: #40a148;
  opacity: 0;
  pointer-events: none;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  top: 3px;
}
.answers label.correct {
  background-color: rgba(64, 161, 72, 0.5);
}
.answers label.correct:after {
  background-color: #40a148;
}
.answers label.wrong {
  background-color: rgba(255, 0, 0, 0.5);
}
.answers label.wrong:after {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: red;
}

/* Hide the browser's default checkbox */
.answers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.answers input:checked + label:after {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.statement h2 {
  font-size: 20px;
  margin-top: 30px;
  display: none;
}
.statement p:last-child {
  margin-bottom: 0;
}

.quiz-container.correct .statement h2.correct {
  display: block;
  color: #40a148;
}

.quiz-container.wrong .statement h2.wrong {
  display: block;
  color: red;
}

.submit {
  margin-top: 15px;
  padding: 9px 15px;
  background-color: white !important;
  border-color: transparent !important;
  color: white !important;
  -webkit-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.submit:hover {
  -webkit-box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
}
.submit:focus {
  -webkit-box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
}
.submit:active {
  -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.18);
}

/* Scroll Call to action */
#wrapper-scroll-cat {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 50px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#wrapper-scroll-cat.out {
  opacity: 0;
}

#scroll-down {
  display: block;
  position: relative;
  padding-top: 89px;
  text-align: center;
}

.arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 38px;
}

.arrow-down:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  position: relative;
  left: 1px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

#scroll-title {
  display: block;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
}

#scroll-down::before {
  -webkit-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */
  -moz-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Fx 5+ */
  -o-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Opera 12+ */
  animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 90px;
  background: white;
  content: " ";
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
/* Social Share buttons */
.social-share {
  position: absolute;
  bottom: 30px;
  right: 30px;
  pointer-events: auto;
  z-index: 1;
}
.social-share span.facebook-icon {
  background-image: url("img/share-facebook-white.svg");
}
.social-share span.twitter-icon {
  background-image: url("img/share-twitter-white.svg");
}
.social-share span.google-icon {
  background-image: url("img/share-google-plus-white.svg");
}
.social-share span.linkedin-icon {
  background-image: url("img/share-linkedin-white.svg");
}
.social-share.social-mobile {
  position: relative;
  bottom: auto;
  right: auto;
  justify-content: center;
}
.social-share.social-cover {
  position: static;
  margin-top: 30px;
}
.social-share.social-cover span.facebook-icon {
  background-image: url("img/share-facebook-sec.svg");
}
.social-share.social-cover span.twitter-icon {
  background-image: url("img/share-twitter-sec.svg");
}
.social-share.social-cover span.google-icon {
  background-image: url("img/share-google-plus-sec.svg");
}
.social-share.social-cover span.linkedin-icon {
  background-image: url("img/share-linkedin-sec.svg");
}
.social-share span.facebook-icon-sec {
  background-image: url("img/share-facebook-sec.svg");
}
.social-share span.twitter-icon-sec {
  background-image: url("img/share-twitter-sec.svg");
}
.social-share span.google-icon-sec {
  background-image: url("img/share-google-plus-sec.svg");
}
.social-share span.linkedin-icon-sec {
  background-image: url("img/share-linkedin-sec.svg");
}

.social-share a {
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px 5px;
}

.social-share span {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

a.social-button {
  text-decoration: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0px 5px;
}
a.social-button:first-child {
  margin-left: 0;
}
a.social-button:last-child {
  margin-right: 0;
}
a.social-button span {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Trees */
.tree-anim-1-container {
  width: 100%;
  height: 122px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 -90px;
  position: relative;
}
.tree-anim-1-container .tree-anim-1 {
  position: absolute !important;
  bottom: -4px;
  transform: translate3d(-50%, 0, 0);
}
.tree-anim-1-container .tree-anim-1:nth-child(1) {
  left: 4%;
  transform: translate3d(-50%, 0, 0) scale(0.8);
  bottom: -12px;
}
.tree-anim-1-container .tree-anim-1:nth-child(2) {
  left: 9%;
  transform: translate3d(-50%, 0, 0) scale(0.9);
  bottom: -8px;
}
.tree-anim-1-container .tree-anim-1:nth-child(3) {
  left: 13%;
}
.tree-anim-1-container .tree-anim-1:nth-child(4) {
  left: 17%;
}
.tree-anim-1-container .tree-anim-1:nth-child(5) {
  left: 23%;
}
.tree-anim-1-container .tree-anim-1:nth-child(6) {
  left: 26%;
}
.tree-anim-1-container .tree-anim-1:nth-child(7) {
  left: 29%;
  transform: translate3d(-50%, 0, 0) scale(0.7);
  bottom: -18px;
}
.tree-anim-1-container .tree-anim-1:nth-child(8) {
  left: 34%;
  transform: translate3d(-50%, 0, 0) scale(0.9);
  bottom: -8px;
}
.tree-anim-1-container .tree-anim-1:nth-child(9) {
  left: 38%;
  transform: translate3d(-50%, 0, 0) scale(0.8);
  bottom: -12px;
}
.tree-anim-1-container .tree-anim-1:nth-child(10) {
  left: 43%;
  transform: translate3d(-50%, 0, 0) scale(0.8);
  bottom: -12px;
}
.tree-anim-1-container .tree-anim-1:nth-child(11) {
  left: 46%;
}
.tree-anim-1-container .tree-anim-1:nth-child(12) {
  left: 52%;
}
.tree-anim-1-container .tree-anim-1:nth-child(13) {
  left: 56%;
  transform: translate3d(-50%, 0, 0) scale(0.7);
  bottom: -18px;
}
.tree-anim-1-container .tree-anim-1:nth-child(14) {
  left: 59%;
  transform: translate3d(-50%, 0, 0) scale(0.8);
  bottom: -12px;
}
.tree-anim-1-container .tree-anim-1:nth-child(15) {
  left: 63%;
}
.tree-anim-1-container .tree-anim-1:nth-child(16) {
  left: 66%;
}
.tree-anim-1-container .tree-anim-1:nth-child(17) {
  left: 70%;
}
.tree-anim-1-container .tree-anim-1:nth-child(18) {
  left: 75%;
  transform: translate3d(-50%, 0, 0) scale(0.8);
  bottom: -12px;
}
.tree-anim-1-container .tree-anim-1:nth-child(19) {
  left: 80%;
  transform: translate3d(-50%, 0, 0) scale(0.7);
  bottom: -18px;
}
.tree-anim-1-container .tree-anim-1:nth-child(20) {
  left: 84%;
}
.tree-anim-1-container .tree-anim-1:nth-child(21) {
  left: 90%;
}
.tree-anim-1-container .tree-anim-1:nth-child(22) {
  left: 96%;
  transform: translate3d(-50%, 0, 0) scale(0.8);
  bottom: -12px;
}

.percentage-container {
  width: 100%;
  height: 50px;
  border: 1px solid #a1a1a1;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
}
.percentage-container .percentage-value {
  background-color: #40a148;
  position: absolute;
  border: 2px solid white;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  -webkit-transition: all 2s ease 0s;
  -moz-transition: all 2s ease 0s;
  -ms-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.percentage-container .percentage-value.step-1 {
  width: 20%;
}
.percentage-container .percentage-value.step-2 {
  width: 32%;
}
.percentage-container .percentage-value.step-3 {
  width: 41%;
}
.percentage-container .percentage-value.step-4 {
  width: 49%;
}
.percentage-container .percentage-value.step-5 {
  width: 54%;
}
.percentage-container .percentage-value.step-6 {
  width: 100%;
}
.percentage-container .line-1, .percentage-container .line-2, .percentage-container .line-3, .percentage-container .line-4, .percentage-container .line-5 {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  z-index: 1;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 2s;
  -moz-transition: opacity 0.3s ease 2s;
  -ms-transition: opacity 0.3s ease 2s;
  -o-transition: opacity 0.3s ease 2s;
  transition: opacity 0.3s ease 2s;
}
.percentage-container .line-1.on, .percentage-container .line-2.on, .percentage-container .line-3.on, .percentage-container .line-4.on, .percentage-container .line-5.on {
  opacity: 1;
}
.percentage-container .line-1 {
  left: 20%;
}
.percentage-container .line-2 {
  left: 32%;
}
.percentage-container .line-3 {
  left: 41%;
}
.percentage-container .line-4 {
  left: 49%;
}
.percentage-container .line-5 {
  left: 54%;
}
.percentage-container .rest-of-color {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 46%;
  height: 100%;
  left: 54%;
  opacity: 0;
}
.percentage-container .rest-of-color.on {
  opacity: 1;
}

.tree-anim-1-mask {
  position: absolute;
  top: calc(50% + 36px);
  height: calc(50% - 36px);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.tree-anim-1-label-container {
  position: absolute;
  top: calc(50% + 86px);
  left: 15px;
  height: calc(50% - 86px);
  width: calc(100% - 30px);
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
}
@media (min-width: 375px) {
  .tree-anim-1-label-container {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .tree-anim-1-label-container {
    width: 100%;
    left: 0;
  }
}
.tree-anim-1-label-container .item-label {
  position: absolute;
  transform: translate3d(-50%, -100%, 0);
  width: 20%;
  max-width: 75px;
  -webkit-transition: all 1s ease 0.5s;
  -moz-transition: all 1s ease 0.5s;
  -ms-transition: all 1s ease 0.5s;
  -o-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}
.tree-anim-1-label-container .item-label.in {
  transform: translate3d(-50%, 0, 0);
}
@media (min-width: 992px) {
  .tree-anim-1-label-container .item-label {
    max-width: 90px;
  }
}
.tree-anim-1-label-container .item-label:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: white;
}
.tree-anim-1-label-container .item-label .label {
  text-align: center;
  background-color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 5px 0;
}
.tree-anim-1-label-container .item-label .label h4, .tree-anim-1-label-container .item-label .label p {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
}
.tree-anim-1-label-container .item-label .label p {
  display: none;
  color: #999999;
}
@media (min-width: 992px) {
  .tree-anim-1-label-container .item-label .label p {
    display: block;
  }
}
.tree-anim-1-label-container .item-label:nth-child(1) {
  left: 10%;
  height: 70px;
  z-index: 6;
}
.tree-anim-1-label-container .item-label:nth-child(2) {
  left: 26%;
  height: 90px;
  z-index: 5;
}
.tree-anim-1-label-container .item-label:nth-child(3) {
  left: 36%;
  height: 112px;
  z-index: 4;
}
.tree-anim-1-label-container .item-label:nth-child(4) {
  left: 45%;
  height: 70px;
  z-index: 3;
}
@media (min-width: 576px) {
  .tree-anim-1-label-container .item-label:nth-child(4) {
    height: 160px;
  }
}
.tree-anim-1-label-container .item-label:nth-child(5) {
  left: 52%;
  height: 32px;
  z-index: 2;
}
@media (min-width: 576px) {
  .tree-anim-1-label-container .item-label:nth-child(5) {
    height: 195px;
  }
}
.tree-anim-1-label-container .item-label:nth-child(6) {
  left: 77%;
  height: 70px;
  z-index: 1;
}

/* Typography */
body {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 26px;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  h1 {
    font-size: 35px;
    margin-top: 40px;
  }
}

h2 {
  font-size: 20px;
}
@media (min-width: 992px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  font-size: 18px;
}
@media (min-width: 992px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 16px;
}
@media (min-width: 992px) {
  h4 {
    font-size: 18px;
  }
}

h1 small {
  font-size: 50%;
  font-weight: 300;
}

h6 {
  font-weight: 700;
  font-size: 14px;
}

.highlighted-text-purple {
  color: #6464AB;
}

.highlighted-text-green {
  color: #95C11F;
}

.highlighted-text-blue {
  color: #45B2D9;
}

.highlighted-text-red {
  color: #df232b;
}

.paragraph_title {
  font-weight: 700;
  font-size: 26px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.paragraph_subtitle {
  font-family: "Merriweather", serif;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 1.5;
}

.paragraph_sub_subtitle {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 19px;
  margin-bottom: 40px;
  line-height: 1.5;
}

p {
  font-size: 17px;
  line-height: 1.7;
  font-family: "Merriweather", serif;
  font-weight: 300;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}

a {
  color: #0d6cac;
}

hr {
  border-top: 1px solid #999999;
  max-width: 200px;
  margin-top: 100px;
}

.attribution {
  color: #999;
  margin: 15px;
}

/* Video Cover */
.video-wrapper {
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.video-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+86&0.1+0,1+86 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 86%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 86%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 86%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a000000", endColorstr="#000000", GradientType=0);
  /* IE6-9 */
  opacity: 0;
}
.video-gradient.light {
  background: #5B5B5B;
  opacity: 0.4;
}
.video-gradient.dark {
  background: black;
  opacity: 0.2;
}

.video-wrapper .report-video, .video-wrapper canvas.topper.video {
  height: 100vh;
  width: 100%;
}

.video-wrapper video, .video-wrapper canvas {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

@media (min-width: 768px) {
  .video-wrapper {
    display: block;
  }

  .video-wrapper .report-video, .video-wrapper canvas.topper.video {
    width: 100%;
  }
}
.report-meta hr {
  border-top: 1px solid white;
  max-width: 200px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.report-based {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 400;
  margin-bottom: 25px;
}

.report-meta {
  display: flex;
  opacity: 0;
  flex-direction: column;
  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
.report-meta img {
  width: 172px;
  height: 126px;
  /* Small devices (tablets, 768px and up) */
  position: relative;
  top: 5px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #40a148;
  padding: 15px;
}
@media (min-width: 768px) {
  .report-meta img {
    width: 322px;
    height: 236px;
  }
}
@media (min-width: 992px) {
  .report-meta {
    flex-direction: row;
  }
}
.report-heading {
  color: white;
  font-weight: lighter;
  padding-left: 20px;
  font-size: 21px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .report-heading {
    width: 560px;
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  .report-heading {
    border-left: 1px solid white;
    width: 560px;
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .report-heading {
    width: 560px;
    font-size: 35px;
  }
}

.report-sub {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.8;
}

.topic-circle {
  margin-top: 30px;
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #40a148;
}

.fixed-stripes {
  width: 150px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: calc(50% - 75px);
  z-index: 2;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .fixed-stripes {
    top: 60px;
    right: 30px;
  }
}
.fixed-stripes a {
  display: block;
}
.fixed-stripes a:link, .fixed-stripes a:visited, .fixed-stripes a:hover, .fixed-stripes a:focus, .fixed-stripes a:active {
  text-decoration: none;
}

.rep-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 15px;
  text-align: center;
}
.rep-title h1, .rep-title h2 {
  color: white;
}
.rep-title h1 {
  margin-top: 20px;
  font-size: 30px;
}
@media (min-width: 768px) {
  .rep-title h1 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .rep-title h1 {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  .rep-title h1 {
    font-size: 55px;
  }
}
@media (min-width: 1200px) {
  .rep-title {
    width: 70%;
    padding: 50px;
  }
  .rep-title h1 {
    font-size: 65px;
    line-height: 1.1;
  }
}
/* Annual forest */
.annual-forest-chart-container {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .annual-forest-chart-container {
    width: 625px;
  }
}
@media (min-width: 992px) {
  .annual-forest-chart-container {
    width: 808px;
  }
}
@media (min-width: 1200px) {
  .annual-forest-chart-container {
    width: 812px;
  }
}
@media (min-width: 1500px) {
  .annual-forest-chart-container {
    width: 1000px;
  }
}

/* Forest Ownershio */
.forest-ownership-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .forest-ownership-container {
    width: 625px;
  }
}
@media (min-width: 992px) {
  .forest-ownership-container {
    width: 808px;
  }
}
@media (min-width: 1200px) {
  .forest-ownership-container {
    width: 1100px;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1500px) {
  .forest-ownership-container {
    width: 1400px;
  }
}

.quotes-container {
  position: absolute;
  width: 100%;
  height: 94%;
  top: 2%;
}

.forest-own-item {
  position: relative;
  margin: 30px 0;
  width: 50%;
}
@media (min-width: 768px) {
  .forest-own-item {
    width: 33.33%;
  }
}
@media (min-width: 992px) {
  .forest-own-item {
    width: 25%;
  }
}
.forest-own-item .label {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #999999;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: -30px;
}
.forest-own-item .quotes {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #999999;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
}
.forest-own-item .quotes:nth-child(1):before {
  position: absolute;
  content: "";
  width: calc(100% - 60px);
  height: calc(100% - 4px);
  top: 2px;
  left: 30px;
  background-color: rgba(197, 206, 215, 0.4);
}
.forest-own-item .quotes:nth-child(2):before {
  position: absolute;
  content: "";
  width: calc(100% - 60px);
  height: calc(100% - 4px);
  top: 2px;
  left: 30px;
  background-color: rgba(150, 191, 52, 0.4);
}
.forest-own-item .quotes:nth-child(3):before {
  position: absolute;
  content: "";
  width: calc(100% - 60px);
  height: calc(100% - 4px);
  top: 2px;
  left: 30px;
  background-color: rgba(111, 139, 113, 0.4);
}
.forest-own-item.africa .quotes:nth-child(1) {
  height: 19%;
}
.forest-own-item.africa .quotes:nth-child(2) {
  top: 19%;
  height: 6%;
}
.forest-own-item.africa .quotes:nth-child(3) {
  top: 25%;
  height: 75%;
}
.forest-own-item.asia .quotes:nth-child(1) {
  height: 4%;
}
.forest-own-item.asia .quotes:nth-child(2) {
  top: 4%;
  height: 18%;
}
.forest-own-item.asia .quotes:nth-child(3) {
  top: 23%;
  height: 77%;
}
.forest-own-item.europa .quotes:nth-child(1) {
  height: 0;
}
.forest-own-item.europa .quotes:nth-child(2) {
  top: 2%;
  height: 9%;
}
.forest-own-item.europa .quotes:nth-child(3) {
  top: 11%;
  height: 89%;
}
.forest-own-item.america .quotes:nth-child(1) {
  height: 4%;
}
.forest-own-item.america .quotes:nth-child(2) {
  top: 4%;
  height: 36%;
}
.forest-own-item.america .quotes:nth-child(3) {
  top: 40%;
  height: 60%;
}
.forest-own-item.oceania .quotes:nth-child(1) {
  height: 4%;
}
.forest-own-item.oceania .quotes:nth-child(2) {
  top: 4%;
  height: 47%;
}
.forest-own-item.oceania .quotes:nth-child(3) {
  top: 51%;
  height: 49%;
}
.forest-own-item.s-america .quotes:nth-child(1) {
  height: 6%;
}
.forest-own-item.s-america .quotes:nth-child(2) {
  top: 6%;
  height: 33%;
}
.forest-own-item.s-america .quotes:nth-child(3) {
  top: 39%;
  height: 61%;
}
.forest-own-item.world .quotes:nth-child(1) {
  height: 5%;
}
.forest-own-item.world .quotes:nth-child(2) {
  top: 5%;
  height: 21%;
}
.forest-own-item.world .quotes:nth-child(3) {
  top: 26%;
  height: 74%;
}

.tree-video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center top;
}

/* Proportion of Global */
.proportion-of-global {
  position: relative;
}
.proportion-of-global .areas-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.proportion-of-global .areas-layer.in {
  opacity: 1;
}
.proportion-of-global .areas-layer.hide {
  opacity: 0;
}
.proportion-of-global .areas-layer.tropical {
  background-image: url("../images/areas-tropical.png");
}
.proportion-of-global .areas-layer.boreal {
  background-image: url("../images/areas-boreal.png");
}
.proportion-of-global .areas-layer.temperate {
  background-image: url("../images/areas-temperate.png");
}
.proportion-of-global .areas-layer.subtropical {
  background-image: url("../images/areas-subtropical.png");
}

.areas-instructions {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #999999;
  text-transform: uppercase;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.areas-switches {
  display: flex;
  margin: 15px 0;
}
.areas-switches .areas-switch {
  width: 25%;
  text-align: center;
  padding: 0 5px;
  cursor: pointer;
}
.areas-switches .areas-switch:hover .areas-ico {
  top: -10px;
}
.areas-switches .areas-switch .areas-ico {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 0;
}
.areas-switches .areas-switch .areas-ico:before {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: #f7f7f7;
  height: 7px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.areas-switches .areas-switch .areas-ico:after {
  content: "";
  position: absolute;
  z-index: 3;
  background-color: #a1a1a1;
  height: 1px;
  width: 100%;
  bottom: 6px;
  left: 0;
}
.areas-switches .areas-switch .areas-ico video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center top;
  position: relative;
  z-index: 1;
}
.areas-switches .areas-switch span {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: white;
}
.areas-switches .areas-switch p {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #999999;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* Montserrat Arabic */
@font-face {
  font-family: "montserrat-arabicregular";
  src: url("fonts/mont-arabic/Montserrat-Arabic-Regular.woff2") format("woff2"), url("fonts/mont-arabic/Montserrat-Arabic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserrat-arabiclight";
  src: url("fonts/mont-arabic/Montserrat-Arabic-Light.woff2") format("woff2"), url("fonts/mont-arabic/Montserrat-Arabic-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
[lang=ar] .language-switch .dropdown-menu {
  left: 0;
  right: auto;
}
[lang=ar] body, [lang=ar] p, [lang=ar] h1, [lang=ar] h2, [lang=ar] h3 {
  font-family: "montserrat-arabiclight", sans-serif;
}
[lang=ar] p {
  text-align: right;
}
[lang=ar] .chart-container .chart-title h2 {
  font-family: "montserrat-arabiclight", sans-serif;
}
[lang=ar] .story-box {
  text-align: right;
}
[lang=ar] .state-of-logo {
  left: calc(50% - 40px);
  right: auto;
  z-index: 3;
}
@media (min-width: 576px) {
  [lang=ar] .state-of-logo {
    right: auto;
    left: 30px;
  }
}
[lang=ar] .fixed-download img {
  left: 30px;
}
[lang=ar] .highcharts-tooltip span {
  text-align: right;
}

/* Languages Override */
/* Languages Override */
/* Languages Override */

/*# sourceMappingURL=index.css.map */
